<div class="col-12 mb-3">
  <h2>Lista de filmes para assistir</h2>
</div>
<div class="d-flex justify-content-between mb-3">
  <div class="btn-group">
    <a routerLink="/" class="btn btn-primary" routerLinkActive="active">Início</a>
    <a routerLink="/create" class="btn btn-primary" routerLinkActive="active">Criar Item</a>
    <a routerLink="/info-pipe" class="btn btn-primary" routerLinkActive="active">Informações sobre Pipe</a>
    <a routerLink="/info-ngfor" class="btn btn-primary" routerLinkActive="active">Informações sobre ngFor</a>
    <a routerLink="/exercicios" class="btn btn-primary" routerLinkActive="active">Exercícios dos slides</a>
  </div>
  <button type="button" class="btn btn-dark" #butaoDarkMode (click)="invertColorButton()">Dark Mode</button>
</div>
