<div class="col-12">
  <table class="table table-striped table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">#id</th>
        <th scope="col">Posição no array</th>
        <th scope="col">Nome</th>
        <th scope="col">Diretor</th>
        <th scope="col">Data de lançamento</th>
        <th scope="col">Nota</th>
      </tr>
    </thead>
    <tbody>
      <!-- Observe que eu criei outra variável para armazenar a posição que só é
      reconhecida com a palavra reservada index -->
      <tr *ngFor="let filme of filmes; let i = index">
        <td>#{{ filme.id }}</td>
        <td>{{ i }}</td>
        <td>{{ filme.nome }}</td>
        <td>{{ filme.diretor }}</td>
        <td>{{ filme.data }}</td>
        <td>{{ filme.nota }}</td>
      </tr>
    </tbody>
  </table>
</div>
