<div>
  <div class="mb-3">
    <label class="form-label">Nome</label>
    <!-- Com o ngClas atraves de uma condição ele irá adicionar, ou não, um série de classes -->
    <input
      type="text"
      class="form-control"
      [ngClass]="{ 'border border-danger': verificaNome() }"
      [(ngModel)]="filme.nome"
      #inputNomeTag
    />
    <!-- Uso do ngIf sem o else -->
    <div class="alert alert-danger" role="alert" *ngIf="verificaNome()">
      Digite um valor. Campo obrigatório*
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Diretor</label>
    <!-- No caso do ngStyle é esperado que após a propriedade seja passada o seu
    valor, seja como o retorno de um if ternário ou o valor em uma variável -->

    <input
      type="text"
      class="form-control"
      [(ngModel)]="filme.diretor"
      [ngClass]="{
        'border border-danger': verificaDiretor()
      }"
      minlength="3"
      required
      #inputDiretorTag
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Data de lançamento</label>
    <input
      type="date"
      class="form-control"
      [(ngModel)]="filme.dataLancamento"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Nota</label>
    <input type="number" class="form-control" [(ngModel)]="filme.nota" />
    <!-- Como no exemplo abaixo é utilizado o else ele irá chamar um outro template
    html, indicado mais abaixo, para caso não entre na primeira verificação ele 
    chame o else. -->
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="filme.nota < 0 || filme.nota > 5; else validou"
    >
      O valor deve ser entre 0 e 5.
    </div>

    <!-- O uso do ng-template só será necessário caso utilize o else no ngIf -->
    <ng-template #validou>
      <div class="alert alert-success" role="alert">Campo validado!!</div>
    </ng-template>
  </div>
  <div class="mb-3 form-check">
    <input
      type="checkbox"
      class="form-check-input"
      [(ngModel)]="filme.favorito"
    />
    <label class="form-check-label" for="exampleCheck1">Favorito?</label>
  </div>
  <button type="button" class="btn btn-success" (click)="salvar()">
    Enviar
  </button>
</div>
